otelcol.receiver.kafka "from_kafka_metrics" {
  protocol_version = "4.0.0"
  brokers = ["127.0.0.1:9092"]
  topic   = "otel-metrics"
  encoding = "json"

  output {
    logs = [otelcol.processor.transform.decode_logs.input]
  }
}

otelcol.processor.transform "decode_logs" {
  log_statements {
    context = "log"
    statements = [
      "if type(body) == \"map\" && exists(body[\"MESSAGE\"]) then body = body[\"MESSAGE\"]",
      "if type(body) == \"map\" && exists(body[\"@timestamp\"]) then timestamp = time_unix_nano(int(body[\"@timestamp\"] * 1e9))",
      "if type(body) == \"map\" then attributes[\"log_type\"] = body[\"log_type\"]",
      "if type(body) == \"map\" then attributes[\"job\"] = \"alloy\"",
    ]
  }

  output {
    logs = [otelcol.exporter.debug.default.input]
  }
}

otelcol.exporter.debug "default" {
  verbosity = "detailed"
}